@model ProductManagement.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5 ">
    <div class="card card-body productBox">
        <br />
        <div>
            <h3 class="text-danger">Are you sure you want to delete this?</h3>
            <hr />
            <div class="row">
                <div class="col-md-2"><b>Name</b></div>
                <div class="col-md-1">:</div>
                <div class="col-md-2"> @Model.Name</div>
            </div>

            <div class="row">
                <div class="col-md-2"><b>Price</b></div>
                <div class="col-md-1"> :</div>
                <div class="col-md-2">&#8377 @Model.Cost</div>
            </div>

            <div class="row">
                <div class="col-md-2"><b>Description</b></div>
                <div class="col-md-1">:</div>
                <div class="col-md-8">@Model.Description</div>
            </div>

            <div class="row">
                <div class="col-md-2"><b>Available</b></div>
                <div class="col-md-1"> :</div>
                <div class="col-md-2">
                    @if (Model.IsAvailable == true)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"> <b>Colour</b></div>
                <div class="col-md-1"> : </div>
                <div class="col-md-2"> @Model.Colour</div>
            </div>

            <div class="row">
                <div class="col-md-2"> <b>Available Status</b> </div>
                <div class="col-md-1"> :</div>
                <div class="col-md-2"> @Model.AvailableStatus</div>
            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <a asp-controller="Product" asp-action="Index" class="btn btn-info mt-3">Cancel</a>
                <input type="submit" value="Delete" class="btn  btn-danger mt-3" id="btnDelete" />
            </form>
        </div>
    </div>
</div>